* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grey: #A7A3C2;
    --grey-light: #D5CEEA;
    --grey-lighter: #F8F5FF;
    --black: #2A2C40;
    --main :#3f08b1 ;
  
    --btnColor: #3f08b1;
    --btnBorder: #24008C;
    --headerColor : #161827;  
    --formText: #000000;
}

input {
    -webkit-appearance: none;
    -moz-appearance: none;
}

body {
    font-family: 'Epilogue', sans-serif;
}

.cb-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 260px;
    padding: 24px 24px 16px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cb-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
}

.cb-header {
    font-size: 24px;
    color: var(--headerColor);
    font-weight: 900;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.cb-description {
    font-size: 16px;
    font-weight: 600;
}

.cb-switch {
    display: flex;
    align-items: center;
}

.cb-switch.active .cb-description-switch {
    color: var(--formText);
}

.cb-description-switch {
    top: calc(50% - 7.5px);
    transition: all 0.15s ease-in;
    pointer-events: none;
    font-size: 15px;
    color: var(--grey);

}

.switch {
    display: inline-block;
    margin-left: auto;
    width: 40px;
    height: 24px;
}

.slider {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #7D7A90;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: '';
    border-radius: 50%;
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {background-color: var(--btnColor);}
input:focus + .slider {box-shadow: 0 0 1px var(--btnColor);}
input:checked + .slider:before {transform: translateX(16px);}

.cb-footer {
    text-align: center;
    font-size: 11px;
    color: var(--grey);
}