* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --grey: #A7A3C2;
    --grey-light: #D5CEEA;
    --grey-lighter: #F8F5FF;
    --black: #2A2C40;
    --main :#6116FF ;
  
    --btnColor: #6116FF;
    --btnBorder: #24008C;
    --headerColor : #161827;  
}

body {
    font-family: 'Epilogue', sans-serif;
}

.cb-container {
    position: relative;
    width: 400px;
    height: 150px;
    padding: 24px 24px 16px;
    border: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cb-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 24px;
}

.cb-header {
    font-size: 24px;
    color: var(--headerColor);
    font-weight: 900;
}

.row {
    display: flex;
    align-items: center;
    margin-bottom: 3%;
}

.cb-footer {
    text-align: center;
    font-size: 11px;
    color: var(--grey);
}